{% load static %}
{% load project_extras %}

<h2>En savoir plus</h2>
<img class="col40"
    {% if profil.description_img %}
        src="{{ profil.description_img.url }}" 
    {% else %}
        src="{% static 'img/default_img.png' %}" 
    {% endif %}
        alt="" >
<div class="col60 float-right"> 
    <div class="texte-avec-ligne-verticale">
        {% if profil.description %}
            {{ profil.description|convert_markdown|safe }}
        {% else %}
            Cette section permet au jeune diplomé de rédiger une biographie ou un résumé de son parcours professionel.<br>
        {% endif %}
    <a href="#">En savoir plus sur mon profil</a>
    </div>
</div>
