{% load static %}

{% include 'style.html' with profil=profil %}
<div {% if profil.banner and profil.banner != None %}
        class='cover'
     {% else %}
        class='cover_default'
     {% endif %}>
    <img class="cover-profile" 
        {% if profil.photo %}
            src="{{ profil.photo.url }}"
        {% else %}
            src="{% static 'img/default_profil.png' %}"
        {% endif %}
         alt="">
    <h1 class="fullname">
       <span class="fond_noir">
        {% if profil.full_name %}
            {{ profil.full_name }} {{ profil.last_name }}
        {% else %}
            LE LAB-DEV
        {% endif %}
        </span> 
    </h1>

    <p>
        <span class="fond_noir">
            {% if profil.sub_title %}
                {{ profil.sub_title }}
            {% else %}
                Le site vitrine de vos projets de développement.
            {% endif %}
        </span> 
    </p>
    
    <div style="text-align: center;">
    <a class='btn btn-outline-light' 
        {% if profil %}
            href="{% url 'profil:view_contact' profil.custom_url %}"
        {% else %}
            href="#"
        {% endif %}
            >ME CONTACTER</a>
    </div>

    <div class="cover-contact">
        {% if profil %}
            {% if profil.github_url %}
                <p class="mt-2 mb-2"><a href="{{ profil.github_url }}"><img height="32" src="{% static '/img/github.svg' %}"/></a></p>
            {% endif %}
            {% if profil.linkedin_url %}
                <p class="mb-2"><a href="{{ profil.linkedin_url }}"><img height="32" src="{% static '/img/linkedin.svg' %}"/></a></p>
            {% endif %}
            {% if profil.twitter_url %}
                <p class="mb-2"><a href="{{ profil.twitter_url }}"><img height="32" src="{% static '/img/twitter.svg' %}"/></a></p>
            {% endif %}
        {% else %}
             <p class="mt-2 mb-2"><a href="#"><img height="32" src="{% static '/img/github.svg' %}"/></a></p>
             <p class="mb-2"><a href="#"><img height="32" src="{% static '/img/linkedin.svg' %}"/></a></p>
             <p class="mb-2"><a href="#"><img height="32" src="{% static '/img/twitter.svg' %}"/></a></p>
        {% endif %}
    </div>
</div>




