{% load static %}

{% include 'style.html' with profil=profil %}

<div class='cover'>
    <img class="cover-profile" src="{{ profil.photo.url }}" alt="">
    <h1 class="fullname">
       <span class="fond_noir">{{ profil.full_name }} {{ profil.last_name }}</span> 
    </h1>

    <p>
        <span class="fond_noir">{{ profil.sub_title }}
        </span> 
    </p>
    
    <div style="text-align: center;">
    <a class='bouton' href="{% url 'contact' %}">ME CONTACTER</a>
    </div>

    <div class="cover-contact">
        {% if profil.github_url %}
            <p><a href="{{ profil.github_url }}"><img height="32" src="{% static '/img/github.svg' %}"/></a></p>
        {% endif %}
        {% if profil.linkedin_url %}
            <p><a href="{{ profil.linkedin_url }}"><img height="32" src="{% static '/img/linkedin.svg' %}"/></a></p>
        {% endif %}
        {% if profil.twitter_url %}
            <p><a href="{{ profil.twitter_url }}"><img height="32" src="{% static '/img/twitter.svg' %}"/></a></p>
        {% endif %}

    </div>
</div>




