{% load static %}
{% if profil and projects %}
    <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center align-content-center">
    {% for project in projects %}
        <table class="mx-3 my-3" style="width: 400px; min-width: 200px;">
            <tr>
              <td><div class="barre-verticale"></div></td>
                <td><a href="{% url 'profil:view_project' profil.custom_url project.project_slug %}"><img class="w-100" src="{{ project.project_img.url }}" alt=""></a></td>
            </tr>
            <tr>
                <td></td>
                <td align="center"><a href="{% url 'profil:view_project' profil.custom_url project.project_slug %}">{{ project.title }}</a></td>
            </tr>
        </table>
    {% endfor %}
    </div>
{% else %}
    <table class="mb-4">
        <tr>
            <td><div class="barre-verticale"></div></td>
            <td><a href="#"><img class="cours-img w-100" src="{% static 'img/default_img.png' %}" alt=""></a></td>
        </tr>
        <tr>
            <td></td>
            <td align="center"><a href="#">Mon Super Projet</a></td>
        </tr>
    </table>
{% endif %}
