{% load project_extras %}

<div class="frame">
    <p class="frame-title">Parlons de votre projet</p>
    <table style="width: 100%;">
        <tr>
            <td valign="top" align="center"><img style="width: 100px; border-radius: 30%;" src="{{ profil.photo.url }}" alt=""></td>
            <td><div class="texte-avec-ligne-verticale">
            <p>{{ profil.footer_text }}<br><br>
                <a href="/contact/">Contactez-moi par email</a> 
                ou directement par téléphone au <a href="tel:+33{{ profil.phone_number|slice_tel }}">{{ profil.phone_number }}</a>

            </p>
            </div>
            </td>
        </tr>
    </table>
</div>