<style>

    {% if profil.banner %}
        div.cover {
            background: url("{{ profil.banner.url }}") no-repeat center/cover;
            height: 360px;
        
        }
        .cours-header {
            background: url("/static/img/cover_overlay.png") no-repeat center/100% 100%, url('{{ profil.banner.url }}') no-repeat center/cover;
            height: 90px;
        }
    {% endif %}

    div.cover_default {
        background: url("/static/img/default_banner.png") no-repeat center/cover;
        height: 360px;
    }
    .cours-header_default {
        background: url("/static/img/cover_overlay.png") no-repeat center/100% 100%, url("/static/img/default_banner.png") no-repeat center/cover;
        height: 90px;
    }
</style>