{% extends 'websnapbook.html' %}
{% load static %}

{% block content %}
  <div>
      <h2>{{ event.name }}</h2>
      <h2>Date: {{ event.date }}</h2>
      <div>
        <img src='{{ event.qrcode }}' >
      </div>
        <div class="guest-list">
          <h2>Liste des invités</h2>
          <ul class="guests">
            {% for guest in guests %}
            <li>{{guest.email}} - {{guest.username}}</li>
            {% empty %}
              <p>Aucun invitée pour le moment.</p>
            {% endfor %} 
          </ul>
        </div>
        <div>
          <h2>Ajouter un invité</h2>
          <form method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <button type="submit">Ajouter</button>
          </form>
        </div>

  </div>
{% endblock %}
