{% extends 'websnapbook.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="photo-detail-container">
    <div>
        <a class="back-link" href="{% url 'websnapbook:event_photos' photo.event.token %}">Retour</a>
    </div>
    <div class="container">
        <div class="comment-header">
            <div class="comment-info">{{ photo.uploader }}</div>
            <div class="comment-info">{{ photo.uploaded_at }}</div>
        </div>
        <div class="photo">
            <img src="{{ photo.image.url }}" alt="Photo">
        </div>
        <div class="text">
            <p class='like-info'>
                <a href="{% url 'websnapbook:like_photo' photo.id %}" class="like-link">
                    {% if request.user in photo.likes.all %}
                    <i class="fa fa-thumbs-up" style="font-size:24px"></i>
                    {% else %}
                    <i class="fa fa-thumbs-o-up" style="font-size:24px"></i>
                    {% endif %}
                </a>{{ photo.likes.count }}
            </p>
            {% if photo.comment_set.all.count > 0 %}
                <p>{{ photo.comment_set.all.count }} commentaire{{ photo.comment_set.all.count|pluralize:"s" }}</p>
            {% endif %}
            <div class="comments-container">
            {% for comment in photo.comment_set.all %}
                <div class="comment">
                    <div class="comment-content">
                        <p class="username">{{ comment.commenter }}
                            <span class="content">{{ comment.text }}</span>
                        </p>
                        <p class="timestamp">{{ comment.commented_at }}</p>
                    </div>
                </div>
            {% empty %}
                <p class="no-comments">Aucun commentaire pour cette photo.</p>
            {% endfor %}
            </div>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="button" type="submit" class="submit-button">
                envoyer
              </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
